.swiper{ width: 100%}
.swiper-slide { width: 100%; height: 370px; overflow: hidden;}
/* .swiper-slide:nth-child(1) {background-color: #fab;}
.swiper-slide:nth-child(2) {background-color: #afb;}
.swiper-slide:nth-child(3) {background-color: #abf;} */
.swiper-slide img {position: absolute; top: 0; left: 50%; margin-left: -950px;}
.swiper {position: relative;}
.slider-btns {width: 1200px; height: 0; position: absolute; left: 50%; margin-left: -600px;
    top: 50%; z-index: 9999; opacity: 0; transition: opacity 0.3s; margin-top: -23px;
}
.swiper:hover .slider-btns {opacity: 1;}
.slider-btns i {font-size: 24px; color: #fff;}
.slider-btns > div {position: absolute; top: 0; width: 45px; height: 45px; border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3); text-align: center; line-height: 48px;
}
.slide-prev {left: 0;}
.slide-next {right: 0;}
.slide-prev i{position: relative; left: -2px;}
.slide-next i{position: relative; left: 2px;}
.list_contents {width: 1100px; margin: 0 auto;}
.list_item {display: inline-block; vertical-align: top; width: 250px; margin: 10px; font-size: 16px;}
.list_item .thumb {width: 255px; height: 255px; background-repeat: no-repeat; 
    background-size: 90%; background-position: center; margin-bottom: 20px; box-sizing: 0 0 10px rgba(0,0,0,0.1);}
.list_item .prod_name {font-size: 18px; line-height: 1.3; font-weight: 400; margin-bottom: 10px;
    color: #333; text-decoration: none; display: block; font-weight: 700; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.list_item .prod_name:hover{
    text-decoration: underline;
}
.price_wrap > * {display: inline-block; vertical-align: middle;}
.discount_rate {font-size: 32px; font-weight: 700; color: rgb(255, 124, 36); margin-right: 10px;} 
.price {font-size: 18px;font-weight: 700; margin-bottom: 5px;}
.origin_price {font-size: 14px; color: #bbb; text-decoration: line-through;}
.item_list {padding-top: 100px;}
.item_list > h1 {
    width: 1100px; margin: 0 auto; font-size: 32px; color: #333; margin-bottom: 50px; text-align: center;
}
.pager_area {
    text-align: center; margin-top: 20px; padding-bottom: 50px;
}
.pager_area a {
    text-decoration: none; color: #666; margin: 5px; font-size: 18px;
}
.pager_area a.current {color: #000; font-weight: 700;}


.list_contents .empty h1{font-size: 28px; text-align: center; color: #999;}
.list_contents .empty {padding: 100px 0;}
