<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twogenesis.shoppingmall_service.mapper.MemberMapper">
    <select id="loginMember" resultType="com.twogenesis.shoppingmall_service.data.MemberVO">
        select mi_seq,mi_email,mi_name,mi_birth,mi_gen,mi_address,mi_phone,mi_grade,mi_status,mi_reg_dt,mi_leave_dt,mi_role from member_info where mi_email =#{user_email} and mi_pwd =#{user_pwd}
    </select>
    <select id="checkEmail" resultType="int">
        select count(*) from member_info where mi_email = #{email};
    </select>
    <insert id="insertMember">
        INSERT INTO member_info
        (mi_email, mi_pwd, mi_name, mi_birth, mi_gen, mi_address, mi_phone)
        VALUES(#{mi_email}, #{mi_pwd}, #{mi_name}, #{mi_birth}, #{mi_gen}, #{mi_address}, #{mi_phone});
    </insert>
    <insert id="insertMemberReview">
        INSERT INTO review_info
        (ri_content, ri_mi_seq, ri_pi_seq, ri_score, ri_oi_seq)
        VALUES(#{ri_content}, #{ri_mi_seq}, #{ri_pi_seq}, #{ri_score}, #{ri_oi_seq});
    </insert>
    <select id="isExistReview" resultType="java.lang.Integer">
        select count(*) from review_info
        where ri_mi_seq = #{mi_seq}
        and ri_pi_seq =#{pi_seq}
        and ri_oi_seq =#{oi_seq}
    </select>
</mapper>