<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twogenesis.shoppingmall_service.mapper.ProductMapper">
    <select id="selectProductsAll" resultType="com.twogenesis.shoppingmall_service.data.ProductVO">
        select * from product_detail_info
    </select>
    <select id="selectRecommendProducts" resultType="com.twogenesis.shoppingmall_service.data.ProductVO">
        select a.* from product_detail_info a inner join recommend_prod b
        on a.pi_seq = b.rp_pi_seq
    </select>
    <select id="selectProductByCateSeq" resultType="com.twogenesis.shoppingmall_service.data.ProductVO">
        select * from product_detail_info where cate_seq =#{seq}
        limit 10
    </select>
    <select id="selectProductCategories" resultType="java.lang.Integer">
        select distinct cate_seq from product_detail_info;
    </select>
    <select id="selectProductBySeq" resultType="com.twogenesis.shoppingmall_service.data.ProductVO">
        select * from product_detail_info where pi_seq =#{seq};
    </select>
    <select id="selectProductImages" resultType="com.twogenesis.shoppingmall_service.data.ProductImageVO">
        select * from product_image_info where pii_pi_seq =#{seq} order by pii_seq
    </select>
    <select id="selectProductDescImages" resultType="com.twogenesis.shoppingmall_service.data.ProductDescImageVO">
        select * from prod_detail_desc_img where pddi_pi_seq =#{seq} order by pddi_index
    </select>
    <select id="selectProductDesc" resultType="com.twogenesis.shoppingmall_service.data.ProductDescVO">
        select * from prod_detail_desc where pdd_pi_seq = #{seq} order by pdd_seq
    </select>
    <insert id="insertProductToCart">
        insert into shopping_cart_data(scd_mi_seq,scd_pi_seq,scd_count)
        values (#{scd_mi_seq},#{scd_pi_seq},#{scd_count})
    </insert>
    <select id="selectShoppingCartItem" resultType="com.twogenesis.shoppingmall_service.data.ShoppingCartVO">
        select * from shopping_cart_data
        where scd_mi_seq =#{scd_mi_seq} and scd_pi_seq = #{scd_pi_seq} and scd_status =0
        limit 1
    </select>
    <update id="updateProductCountToCart">
        update shopping_cart_data set scd_count = scd_count + #{scd_count}, scd_mod_dt =now()
        where scd_mi_seq = #{scd_mi_seq} and scd_pi_seq =#{scd_pi_seq} and scd_status =0
    </update>
    <update id="updateCartItemStatus">
        update shopping_cart_data set scd_status =#{scd_status}, scd_mod_dt =now()
        where scd_mi_seq =#{scd_mi_seq} and scd_pi_seq =#{scd_pi_seq} and scd_status =0
    </update>
    <update id="updateCartItemCount">
        update shopping_cart_data set scd_count =#{count}, scd_mod_dt =now()
        where scd_seq =#{seq} and scd_status =0
    </update>
    <select id="selectShoppingCartItemCount" resultType="java.lang.Integer">
        select count(*) from shopping_cart_data where scd_mi_seq = #{member_seq} and scd_status =0
    </select>
    <select id="selectcartInfo" resultType="com.twogenesis.shoppingmall_service.data.CartInfoVO">
        select * from cart_info_view where mi_seq =#{seq}
    </select>
    <update id="updateCartItemStatusToDelete">
        update shopping_cart_data set scd_status =2 where scd_seq =#{seq}
    </update>

    <select id="selectProductByCateSeqList" resultType="com.twogenesis.shoppingmall_service.data.ProductVO">
        select * from product_detail_info where cate_seq in
        <foreach collection="seq_list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        order by pi_seq desc
        limit 12 offset #{offset}
    </select>
    <select id="selectProductsCntByCateSeqList" resultType="java.lang.Integer">
        select count(*) from product_detail_info where cate_seq in
        <foreach collection="seq_list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="selectProductSearch" resultType="com.twogenesis.shoppingmall_service.data.ProductVO">
        select * from product_detail_info 
        where
        <if test="type == 'none'">
            pi_name like #{keyword} or mfi_name like #{keyword} or si_name like #{keyword}
        </if>
        <if test="type == 'name'">
            pi_name like #{keyword}
        </if>
        <if test="type == 'seller'">
            si_name like #{keyword}
        </if>
        <if test="type == 'manufacturer'">
            mfi_name like #{keyword}
        </if>
        order by pi_seq desc
        limit 12 offset #{offset}
    </select>
    <select id="selectProductSearchCnt" resultType="java.lang.Integer">
        select count(*) from product_detail_info 
        where
        <if test="type == 'none'">
            pi_name like #{keyword} or mfi_name like #{keyword} or si_name like #{keyword}
        </if>
        <if test="type == 'name'">
            pi_name like #{keyword}
        </if>
        <if test="type == 'seller'">
            si_name like #{keyword}
        </if>
        <if test="type == 'manufacturer'">
            mfi_name like #{keyword}
        </if>
    </select>
    
    <select id="selectProductScore" resultType="java.util.Map">
    select count(*) as cnt, avg(ri_score) from review_info
    group by ri_pi_seq having ri_pi_seq = #{seq}
    </select>

    <select id="selectReviewList" resultType="com.twogenesis.shoppingmall_service.data.ReviewVO">
    select a.*, b.mi_seq, b.mi_name
    <if test="mi_seq !=0">
    , c.rrh_mi_seq is null as report_able
    </if>
    from
    review_info a left outer join member_info b 
    on a.ri_mi_seq =b.mi_seq
    <if test="mi_seq !=0">
    left outer join (
    	select * from review_report_history
        where rrh_mi_seq = #{mi_seq}
    ) c
    on a.ri_seq = c.rrh_ri_seq
    </if>
    where ri_pi_seq = #{pi_seq}
    order by ri_seq desc 
    limit 10 offset #{offset}
    </select>
    <select id="selectReviewCnt" resultType="java.lang.Integer">
    select count(*) from review_info a left outer join member_info b 
    on a.ri_mi_seq =b.mi_seq
    where ri_pi_seq = #{pi_seq}
    </select>
    <update id="updateReviewReport">
        update review_info set ri_report_cnt = ri_report_cnt +1 where ri_seq =#{ri_seq}
    </update>
</mapper>